body {

    background-color: black;
}

footer {
    text-align: center;
    color: white;

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
}

.grid-container {

    display: grid;
    grid-template-rows: repeat(2, 1fr);

}

.grid-container__child {}

.grid-container__child:nth-child(3n-2) {

    background-image: url(../imgs/shop1.jpg);
    background-color: rgb(255, 118, 225);
    background-blend-mode: difference;
    background-size: cover;

    transition: 1s;

}

.grid-container__child:nth-child(3n-2):hover {

    filter: hue-rotate(200deg);
    transition: 0.5s;
}




.grid-container__child:nth-child(3n-1) {

    background-image: url(../imgs/influencer.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
}


.grid-container__child:nth-child(3n-1):hover {
    transition: 1s;
    filter: contrast(200%);

}

.grid-container__child:nth-child(3n-3) {

    background-image: url(../imgs/trash2.jpg);
    background-color: rgb(183, 230, 187);

    background-blend-mode: exclusion;
    background-size: cover;

    transition: 1s;

}

.grid-container__child:nth-child(3n-3):hover {
    transition: 1s;
    filter: blur(3px);
}